In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data collection and pre-processing

In [2]:
df = pd.read_csv("mail_data.csv")

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
print(df)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
mail_data = df.where(pd.notnull(df),'')

In [8]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
mail_data.shape

(5572, 2)

Label Encoding

In [10]:
#label spam mail as 0 and ham mail as 1

In [12]:
mail_data.loc[mail_data["Category"]=="spam", "Category"]=0

In [13]:
mail_data.loc[mail_data["Category"]=="ham", "Category"]=1

In [14]:
#separating the data as text and labels

In [15]:
X = mail_data["Message"]
Y = mail_data["Category"]

In [16]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [17]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Train Test Split

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=101)

In [22]:
#empty means there is only one column
print(X.shape)

(5572,)

In [23]:
print(X_train.shape)

(4457,)

In [24]:
print(X_test.shape)

(1115,)

In [25]:
#transform the text data to feature vectors that can be used as input to the logistic regression

In [33]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words = "english", lowercase=True)

In [34]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [35]:
#converting Y_train and Y_test values as integer

In [37]:
Y_train = Y_train.astype("int")
Y_test = Y_test.astype("int")

In [38]:
print(X_train_features)

  (0, 3979)	0.47050183862734346
  (0, 1610)	0.42733551222611627
  (0, 2088)	0.35085242647911075
  (0, 1851)	0.463502376787769
  (0, 3120)	0.5080162412605933
  (1, 4666)	0.41520525597746594
  (1, 3098)	0.25233007994549134
  (1, 7042)	0.34294037628862284
  (1, 3115)	0.49695415391316355
  (1, 6690)	0.5677634938895512
  (1, 2347)	0.27750172682199364
  (2, 4114)	0.5872980006034407
  (2, 1029)	0.809370779363328
  (3, 6221)	0.5223926957664158
  (3, 2598)	0.49596957292423405
  (3, 6478)	0.3515863071555879
  (3, 4233)	0.4243758232305758
  (3, 3780)	0.24483463114960843
  (3, 5474)	0.34273646845813266
  (4, 4919)	0.4227286416779634
  (4, 405)	0.5991957983172558
  (4, 3933)	0.38347545774430875
  (4, 6771)	0.3141503245682522
  (4, 3103)	0.4653182111904768
  (5, 1921)	0.762495065015084
  :	:
  (4452, 5584)	0.18681715671057833
  (4452, 4060)	0.23099244297130594
  (4452, 6771)	0.18211944204138064
  (4453, 5258)	0.4353137818961515
  (4453, 1786)	0.4353137818961515
  (4453, 6726)	0.3804022950236023
  (4453, 4836)	0.34575700414286253
  (4453, 5628)	0.3804022950236023
  (4453, 3818)	0.38951519852535665
  (4453, 5123)	0.2456054043949294
  (4455, 3799)	0.44063031574709766
  (4455, 4108)	0.38858416172856564
  (4455, 4747)	0.37168591783272087
  (4455, 7430)	0.3588890344669597
  (4455, 3330)	0.2631841734865277
  (4455, 3199)	0.3150226426238682
  (4455, 7201)	0.2283100892098527
  (4455, 4019)	0.22220411710268037
  (4455, 5055)	0.2504765473653718
  (4455, 6641)	0.23484393053804956
  (4456, 2194)	0.558592970684281
  (4456, 966)	0.41420081857271746
  (4456, 5802)	0.396599134599936
  (4456, 6652)	0.396599134599936
  (4456, 1915)	0.449254747181334

Training the Model

In [39]:
model = LogisticRegression()

In [41]:
model.fit(X_train_features,Y_train)

LogisticRegression()

Evaluating the trained model

In [42]:
#Prediction on training data

In [43]:
prediction_on_training_data = model.predict(X_train_features)

In [46]:
Accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [47]:
Accuracy_on_training_data

0.9667938074938299

In [48]:
prediction_on_testing_data = model.predict(X_test_features)

In [50]:
Accuracy_on_testing_data = accuracy_score(Y_test,prediction_on_testing_data)

In [51]:
Accuracy_on_testing_data

0.9650224215246637

Building a Predictive System

In [52]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Ham mail